body {
  background-color: whitesmoke;
}

h1 {
  font-size: 38px;
  line-height: 1.5;
  font-weight: 800px;
  color: rgb(198, 116, 16);
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

.submit-button {
  background: rgb(212, 177, 134);
  color: white;
  border: none;
  box-shadow: 2px 2px 5px rgba(65, 50, 100, 0.08);
  border-radius: 50px;
  margin-left: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  width: 150px;
  line-height: 15px;
  padding: 14px, 24px;
}

.link {
  color: rgb(198, 116, 16);
}
.poem {
  font-size: 16px;
  background-color: white;
  padding: 20px;
  line-height: 24px;
  font-weight: 400px;
  border-left: 3px solid rgb(198, 116, 16);
  box-shadow: 2px 2px 5px rgba(65, 50, 100, 0.08);
  margin-bottom: 40px;
}
.hidden {
  display: none;
}
form {
  display: flex;
}
.form-container {
  box-shadow: 2px 2px 5px rgba(65, 50, 100, 0.08);
  margin-bottom: 40px;
  padding: 15px;
  background-color: white;
  border-radius: 20px;
}
.form-input-box {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  line-height: 2;
  border-radius: 50px;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 80px;
}
.hint {
  line-height: 1.5;
  margin-top: 5px;
  font-size: 12px;
  opacity: 0.6;
}
.poem strong {
  color: rgb(212, 177, 134);
}
.generating {
  animation: blink-animation 0.8s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
